{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Organization",
    "name": "{{ site.title }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}"
  }
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "description": "{{ site.description | escape }}"
}
</script>
{% endif %}
